@model PizzaStore.Domain.Entities.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
    </dl>
</div>
<div>
    <h4>Order Items</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Quantity</th>
                <th>Pizza Name</th>
                <th>Pizza Price</th>                
            </tr>
        </thead>
        <tbody>
            @foreach (var orderItem in Model.OrderItems)
            {
                <tr>
                    <td>@orderItem.Quantity</td>
                    <td>@orderItem.Pizza?.Name</td>
                    <td>@orderItem.Pizza?.Price.ToString("C")</td>                    
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

